{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- banner -->
  <div class="xl:py-36 lg:py-26 md:py-18 sm:py-15 py-12">
    <section class="w-full  ">
      <div class="rounded-xl  w-full">
        <div class="mx-auto rounded-xl overflow-hidden w-full ">
          <div class="lg:flex justify-center  lg:mx-16 md:mx-10 sm:mx-8 mx-5" style="text-align: -webkit-center;">
            <div
              class="p-8 banner-left-side xl:w-3/5 lg:w-full lg:flex-[auto] md:w-full lg:rounded-l-[26px] md:rounded-l-[26px] sm:rounded-[26px]  rounded-[26px] my-4 lg:ps-24 md:ps-16  flex  flex-col justify-center items-start">
              <img class="object-cover 2xl:w-[150px] xl:w-[150px] lg:w-[150px] md:w-[150px] sm:w-[90px] w-[90px]  2xl:h-[150px] xl:h-[150px] lg:h-[150px] md:h-[150px] sm:h-[90px] h-[90px]" src="images/banner-logo.png" />
              <div
                class="lg:text-[52px] md:text-[45px] sm:text-[30px] text-[25px] text-[#011C39] font-bold py-4 text-left">
                Eagle Dimond Institute
              </div>

              <p class="mt-2 lg:text-[32px] md:text-[28px] sm:text-[20px] text-[22px] text-[#011C39] text-left">
                Be silent in two situations When <span
                  class="lg:inline-flex md:inline-flex sm:inline-flex hidden"><br /></span> you
                feel one
              </p>
            </div>
            <div class="md:shrink-0 xl:w-2/5 lg:w-full lg:flex-[auto] md:w-full">
              <div class="container">
                <!-- Slider main container -->
                <div class="swiper-container rounded-[26px]">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </section>
  </div>
  <!-- Courses -->
  <section>
    <p
      class="lg:text-[70px] md:text-[35px] sm:text-[20px] text-[30px] font-semibold flex justify-center lg:py-10 md:py-8 sm:py-8 py-8">
      About Management
    </p>
    <div class="mx-auto rounded-xl overflow-hidden ">
      <p
        class="lg:text-[44px] md:text-[30px] sm:text-[35px] text-[28px] font-semibold flex xl:justify-left lg:justify-left  lg:py-12 md:py-8 sm:py-6 py-6 md:flex mx-16 ">
        Founder
      </p>
    </div>

    <section class="about-managment">
      <div class="mx-auto rounded-xl overflow-hidden">
        <div
          class="md:flex justify-center flex-wrap  xl:mx-[45px] 2xl:mx-[50px] lg:mx-[30px] md:mx-[30px] sm:mx-[30px] mx-[25px] lg:py-8 md:py-8 sm:py-2 py-2">
          <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3 " id="founder1">
            <div class="branches-img founder-img">
              <img class="rounded-md w-full h-3/6" src="images/5.png" />
            </div>
            <div
              class="lg:text-4xl md:text-3xl sm:text-2xl text-xl font-medium text-center lg:py-8 md:py-6 sm:py-4 lg:pt-10 md:pt-8 sm:pt-6 pt-4 course-title founder_name">
              James Robert</div>
          </div>
          <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4  lg:w-1/3" id="founder2">
            <div class="branches-img founder-img">
              <img class="rounded-md w-full h-3/6" src="images/5.png" />
            </div>
            <div
              class="lg:text-4xl md:text-3xl sm:text-2xl text-xl font-medium text-center lg:py-8 md:py-6 sm:py-4 lg:pt-10 md:pt-8 sm:pt-6 pt-4 course-title founder_name">
              James Robert</div>
          </div>
          <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3  " id="founder3">
            <div class="branches-img founder-img">
              <img class="rounded-md w-full h-3/6" src="images/5.png" />
            </div>
            <div
              class="lg:text-4xl md:text-3xl sm:text-2xl text-xl font-medium text-center lg:py-8 md:py-6 sm:py-4 lg:pt-10 md:pt-8 sm:pt-6 pt-4 course-title founder_name">
              James Robert</div>
          </div>

        </div>
      </div>
    </section>
  </section>

  <!-- Reviews -->
  <section id="testimonials" class="review-wraper section-bg  relative ">
    <div class="mx-auto  rounded-xl overflow-hidden xl:mx-[55px] md:mx-[1px] ">
      <p
        class="lg:text-[44px] md:text-[30px] sm:text-[35px] text-[28px] font-semibold flex xl:justify-left lg:justify-left  lg:py-12 md:py-8 sm:py-6 py-6 md:flex mx-16 ">
        HOD
      </p>
      <p
        class="lg:text-[70px] md:text-[35px] sm:text-[20px] text-[30px] font-semibold flex justify-center lg:py-10 md:py-8 sm:py-8 py-8">
        Mini Bazar
      </p>
    </div>
    <div class="about-managment">
      <div class="swiper mySwiper py-[45px] lg:mx-16 md:mx-10 sm:mx-8 mx-5">
        <div class="swiper-wrapper">
          <div class="swiper-slide w-[530px] relative" id="reviewSection">
            <div class="p-4">
              <img class="rounded-md w-full lg:p-0 md:p-0 sm:p-0 p-4 review_img" src="images/5.png" />
            </div>
          </div>
          <div class="swiper-slide w-[530px] relative" id="reviewSection2">
            <div class="p-4">
              <img class="rounded-md w-full lg:p-0 md:p-0 sm:p-0 p-4 review_img" src="images/5.png" />
            </div>
          </div>
          <div class="swiper-slide w-[530px] relative" id="reviewSection3">
            <div class="p-4">
              <img class="rounded-md w-full lg:p-0 md:p-0 sm:p-0 p-4 review_img" src="images/5.png" />
            </div>
          </div>
          <div class="swiper-slide w-[530px] relative" id="reviewSection4">
            <div class="p-4">
              <img class="rounded-md w-full lg:p-0 md:p-0 sm:p-0 p-4 review_img" src="images/5.png" />
            </div>
          </div>          
        </div>
      </div>
      <div class="swiper-button-prev1 lg:top-[71%] md:top-[72%] sm:top-[72%] top-[72%]"></div>
      <div class="swiper-button-next1 lg:top-[71%] md:top-[72%] sm:top-[72%] top-[72%]"></div>
    </div>
  </section>


  <!-- branch -->
 <section class=" branch-wrapper ">
    <div class="mx-auto rounded-xl overflow-hidden">
      <p
        class="lg:text-[70px] md:text-[35px] sm:text-[20px] text-[30px]  font-semibold flex justify-center lg:py-10 md:py-8 sm:py-4 py-4 ">
        Branch
      </p>
      <div class="md:flex justify-center flex-wrap  xl:mx-[40px] 2xl:mx-[40px] lg:py-8 md:py-8 sm:py-2 py-2 mx-[20px]">
        <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3   ">
          <div class="branches-img">
            <img class="rounded-md w-full h-3/6" src="{% static '/images/1.png' %}" />
            <div class="branches-layer text-center">
              <div
                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                <div
                  class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                  Eagle Diamond
                  Institute</div>
                <div class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">Katargam
                </div>
              </div>
              <div>
                <ul>
                  <li
                    class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                    <span>Address&nbsp;:-</span>
                    <sapn>
                      &nbsp;185 - Angani Compelx, Mini
                      Bazar, Varachha, Surat - 6.
                    </sapn>
                  </li>
                  <li
                    class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                    <span>Contact :-</span>
                    <span>&nbsp;+91 986 278 953 <br />
                      &nbsp; +0261 2658987</span>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3   ">
          <div class="branches-img">
            <img class="rounded-md w-full h-3/6" src="{% static '/images/1.png' %}" />
            <div class="branches-layer text-center">
              <div
                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                <div
                  class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                  Eagle Diamond
                  Institute</div>
                <div class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">Katargam
                </div>
              </div>
              <div>
                <ul>
                  <li
                    class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                    <span>Address&nbsp;:-</span>
                    <sapn>
                      &nbsp;185 - Angani Compelx, Mini
                      Bazar, Varachha, Surat - 6.
                    </sapn>
                  </li>
                  <li
                    class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                    <span>Contact :-</span>
                    <span>&nbsp;+91 986 278 953 <br />
                      &nbsp; +0261 2658987</span>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3  ">
          <div class="branches-img">
            <img class="rounded-md w-full h-3/6" src="{% static '/images/1.png' %}" />
            <div class="branches-layer text-center">
              <div
                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                <div
                  class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                  Eagle Diamond
                  Institute</div>
                <div class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">Katargam
                </div>
              </div>
              <div>
                <ul>
                  <li
                    class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                    <span>Address&nbsp;:-</span>
                    <sapn>
                      &nbsp;185 - Angani Compelx, Mini
                      Bazar, Varachha, Surat - 6.
                    </sapn>
                  </li>
                  <li
                    class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                    <span>Contact :-</span>
                    <span>&nbsp;+91 986 278 953 <br />
                      &nbsp; +0261 2658987</span>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>
  <script src="{% static '/script/cdn.tailwindcss.com_3.3.3' %}" rel="stylesheet"></script>
  <!-- header -->
  <script src="{% static '/script/unpkg.com_@themesberg_flowbite@1.1.1_dist_flowbite.bundle.js' %}"></script>
  <script src="{% static '/script/cdn.jsdelivr.net_gh_alpinejs_alpine@v2.x.x_dist_alpine.min.js' %}" defer></script>
  <script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_jquery_3.0.0_jquery.min.js' %}"></script>
  <!-- banner slider -->
  <script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_Swiper_3.4.1_js_swiper.min.js' %}"></script>
  <!-- review slider -->
  <script src="{% static '/script/unpkg.com_swiper@8.4.7_swiper-bundle.min.js' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      // Swiper: Slider banner
      new Swiper('.swiper-container', {
        loop: true,
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 20,
        autoplay: true,
        breakpoints: {
          1920: {
            slidesPerView: 1,
            spaceBetween: 30
          },
          1028: {
            slidesPerView: 1,
            spaceBetween: 30
          },
          480: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      });
    });
  </script>
  <!-- review slider -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      loop: true,
      autoplay: true,
      nextButton: '.swiper-button-next1',
      prevButton: '.swiper-button-prev1',
      paginationClickable: true,
      loopFillGroupWithBlank: true,
      breakpoints: {
        1920: {
          slidesPerView: 3,
          spaceBetween: 30
        },
        1028: {
          slidesPerView: 2,
          spaceBetween: 30
        },
        480: {
          slidesPerView: 2,
          spaceBetween: 10
        },
        320: {
          slidesPerView: 1,
          spaceBetween: 10
        }
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next1",
        prevEl: ".swiper-button-prev1",
      },
    });


     //Founder API
     fetch('/api/founder-details/') // Replace with the actual API URL
     .then((response) => response.json())
     .then((data) => {
       //founder1
        const founder1 = document.querySelector('#founder1')
        founder1.querySelector('.founder_name').textContent = data.founder_details[0].founder_name
        founder1.querySelector('.founder-img').src = data.founder_details[0].founder_image      
       //founder1
        const founder2 = document.querySelector('#founder2')
        founder2.querySelector('.founder_name').textContent = data.founder_details[1].founder_name
        founder2.querySelector('.founder-img').src = data.founder_details[1].founder_image      
       //founder1
        const founder3 = document.querySelector('#founder3')
        founder3.querySelector('.founder_name').textContent = data.founder_details[2].founder_name
        founder3.querySelector('.founder-img').src = data.founder_details[2].founder_image      
         
     })
     .catch((error) => {
       console.error(error, 'PPPPPPPPPPPPPPPPP')
     })


      //Review API
      fetch('/api/review-details/') 
      .then((response) => response.json())
      .then((data) => {
         const reviewSection = document.querySelector('#reviewSection')
         reviewSection.querySelector('.review_name').textContent = data.customer_review_details[0].customer_name
         reviewSection.querySelector('.review_img').src = data.customer_review_details[0].customer_image
         reviewSection.querySelector('.reviewDescription').textContent = data.customer_review_details[0].customer_review
         const reviewSection2 = document.querySelector('#reviewSection2')
         reviewSection2.querySelector('.review_name').textContent = data.customer_review_details[1].customer_name
         reviewSection2.querySelector('.review_img').src = data.customer_review_details[1].customer_image
         reviewSection2.querySelector('.reviewDescription').textContent = data.customer_review_details[1].customer_review
         const reviewSection3 = document.querySelector('#reviewSection3')
         reviewSection3.querySelector('.review_name').textContent = data.customer_review_details[2].customer_name
         reviewSection3.querySelector('.review_img').src = data.customer_review_details[2].customer_image
         reviewSection3.querySelector('.reviewDescription').textContent = data.customer_review_details[2].customer_review
         const reviewSection4 = document.querySelector('#reviewSection4')
         reviewSection4.querySelector('.review_name').textContent = data.customer_review_details[3].customer_name
         reviewSection4.querySelector('.review_img').src = data.customer_review_details[3].customer_image
         reviewSection4.querySelector('.reviewDescription').textContent = data.customer_review_details[3].customer_review
         
      })
      .catch((error) => {     
        console.error(error)
      })
  
 //Banner API
 fetch('/api/banner-images/') 
 .then((response) => response.json())
 .then((data) => {
  console.log(data)
    const bannerSection = document.querySelector('#bannerSection')
    bannerSection.querySelector('.review_img').src = data.banner_images[0].banner_images
    const bannerSection2 = document.querySelector('#bannerSection2')
    bannerSection2.querySelector('.review_img').src = data.banner_images[1].banner_images
    const bannerSection3 = document.querySelector('#bannerSection3')
    bannerSection3.querySelector('.review_img').src = data.banner_images[2].banner_images
    const bannerSection4 = document.querySelector('#bannerSection4')
    reviewSection4.querySelector('.review_img').src = data.banner_images[3].banner_images
    
 })
 .catch((error) => {     
   console.error(error)
 })
  </script>

  {% endblock %}