{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- banner -->
<div class=" select-none xl:py-28 lg:py-26 md:py-18 sm:py-15 py-12">
    <section class=" select-none w-full  ">
        <div class=" select-none rounded-xl  w-full">
            <div class=" select-none mx-auto rounded-xl overflow-hidden w-full ">
                <div class=" select-none lg:flex justify-center  lg:mx-16 md:mx-10 sm:mx-8 mx-5"
                    style="text-align: -webkit-center;">
                    <div
                        class=" select-none p-8 banner-left-side xl:w-3/5 lg:w-full lg:flex-[auto] md:w-full lg:rounded-l-[26px] md:rounded-l-[26px] sm:rounded-[26px]  rounded-[26px] my-4 lg:ps-24 md:ps-16  flex  flex-col justify-center items-center">
                        <img class=" select-none object-cover 2xl:w-[150px] xl:w-[150px] lg:w-[150px] md:w-[150px] sm:w-[90px] w-[90px]  2xl:h-[150px] xl:h-[150px] lg:h-[150px] md:h-[150px] sm:h-[90px] h-[90px]"
                            src="{% static '/images/banner-logo.png' %}" />
                        <div
                            class=" select-none lg:text-[52px] md:text-[45px] sm:text-[30px] text-[25px] text-[#011C39] font-bold py-4 text-left">
                            Blog
                        </div>


                    </div>
                    <div class=" select-none md:shrink-0 xl:w-2/5 lg:w-full lg:flex-[auto] md:w-full">
                        <div class=" select-none container">
                            <!-- Slider main container -->
                            <div class=" select-none swiper-container rounded-[26px]">
                                <!-- Additional required wrapper -->
                                <div class=" select-none swiper-wrapper" id="bannerSection">
                                    <!-- Images add -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- section -->
<section class="select-none px-3 xl:mx-16 md:mx-8">

    <div class="select-none   mx-auto rounded-xl overflow-hidden  container">
        <div class="select-none md:flex ">
            <div class="select-none p-4 w-full flex justify-center">
                <img class="select-none rounded-md w-[40rem]" src="{% static '/images/4.png' %}" />
            </div>

        </div>
        <div class="select-none  lg:py-10 md:py-8 sm:py-6 py-6 md:pt-0 xxl:px-40 xl:px-40 lg:px-36 md:px-0 sm:px-0 ">

            <div class="select-none lg:ps-8  ps-4">
                <p
                    class="select-none lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0 text-center pb-5">
                    Diwali Celebration</p>
                <ul class="select-none   lg:text-xl md:text-md text-md font-medium tracking-wide p-4 ">
                    <li>
                        Lorem Ipsum is simply dummy text Lorem
                        Ipsum has been the industry's standard
                        dummy text ever Lorem Ipsum is simply
                    </li>
                    <li class="select-none py-3">
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                    <li>
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>

<script src="{% static '/script/cdn.tailwindcss.com_3.3.3' %}" rel="stylesheet"></script>
<!-- header -->
<script src="{% static '/script/unpkg.com_@themesberg_flowbite@1.1.1_dist_flowbite.bundle.js' %}"></script>
<script src="{% static '/script/cdn.jsdelivr.net_gh_alpinejs_alpine@v2.x.x_dist_alpine.min.js' %}" defer></script>
<script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_jquery_3.0.0_jquery.min.js' %}"></script>
<!-- banner slider -->
<script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_Swiper_3.4.1_js_swiper.min.js' %}"></script>
<!-- review slider -->
<script src="{% static '/script/unpkg.com_swiper@8.4.7_swiper-bundle.min.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        // Swiper: Slider banner
        new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 20,
            autoplay: true,
            breakpoints: {
                1920: {
                    slidesPerView: 1,
                    spaceBetween: 30
                },
                1028: {
                    slidesPerView: 1,
                    spaceBetween: 30
                },
                480: {
                    slidesPerView: 1,
                    spaceBetween: 10
                }
            }
        })
    })


    //Banner API
    fetch('/api/banner-images/') // Replace with the actual API URL
        .then((response) => response.json())
        .then((data) => {
            const bannerSection = document.querySelector('#bannerSection')
            if (data['message'] == "success") {
                for (let i = 0; i < data['banner_images'].length; i++) {
                    let Imageurl = data['banner_images'][i]["banner_images"];
                    const imageElement = document.createElement('img');
                    imageElement.className = `w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide bannerImg${i}`;
                    imageElement.src = Imageurl;
                    bannerSection.appendChild(imageElement);
                }
            } else {
                const imageElement = document.createElement('img');
                imageElement.alt = "Not found image"
                bannerSection.appendChild(imageElement);
            }
        })
        .catch((error) => {
            console.error(error, 'Banner image api error is')
        })
</script>

<script>
    // Blog Details API
    document.addEventListener('DOMContentLoaded', function () {
        // Get the blog post ID from the URL
        const urlParams = new URLSearchParams(window.location.search);
        const blogId = urlParams.get("id");

        // Make an API call to get the details for the specific blog post using the retrieved blogId
        fetch(`/api/blog-details/${blogId}`)
            .then((response) => response.json())
            .then((data) => {
                // Handle the blog post details data
                displayBlogDetails(data);
            })
            .catch((error) => {
                console.error(error, 'Error fetching blog post details');
            });
    });

    function displayBlogDetails(data) {
        // Assuming you have an element with the id 'blogDetailsList' to display the details
        const blogDetailsList = document.getElementById('blogDetailsList');

        if (data['message'] === 'success') {
            // Clear existing content
            blogDetailsList.innerHTML = '';

            // Display the blog details content
            data['blog_details']['blog_content'].forEach(content => {
                const listItem = document.createElement('li');
                listItem.textContent = content;
                blogDetailsList.appendChild(listItem);
            });
        } else {
            console.error('Blog details data not found');
        }
    }

</script>


{% endblock %}