<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>
    <link rel="stylesheet" href="css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="css/cdnjs.cloudflare.com_ajax_libs_Swiper_3.4.1_css_swiper.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css">
    <!-- review slider -->
    <link rel="stylesheet" type="text/css" href="css/unpkg.com_swiper@8.4.7_swiper-bundle.min.css">
    <link rel="stylesheet" href="fonts/stylesheet.css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
    <!-- header
       -->
    <header>
        <nav class="bg-white border-gray-200  drop-shadow">
            <div class="flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="https://flowbite.com/" class="flex items-center">
                    <img src="images/logo.png" class="mr-3" alt="Flowbite Logo" />
                </a>
                <button data-collapse-toggle="navbar-default" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                    aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul
                        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white ">
                        <li>
                            <a href="#"
                                class="block text-xl py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 "
                                aria-current="page">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#"
                                class="block text-xl py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">About
                                Us <i class="fa-solid fa-angle-down ps-1"></i></a>
                            <div class="dropdown-menu shadow-lg">
                                <ul>
                                    <li class="py-2"><a href="#institute">Institute</a></li>
                                    <li class="py-2"><a href="#mangement">Mangement</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#"
                                class="block text-xl py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Education
                                <i class="fa-solid fa-angle-down ps-1"></i></a>
                            <div class="dropdown-menu shadow-lg">
                                <ul>
                                    <li class="py-2"><a href="#admition">Admition</a></li>
                                    <li class="py-2"><a href="#course">Course</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="#"
                                class="block text-xl py-2 pl-3  text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Contact</a>
                        </li>
                        <li>
                            <img src="images/translate.png" class="me-24">
                        </li>
                        <li>
                            <button href="#"
                                class="block text-xl text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700  border border-black py-1 px-3">
                                Sign in
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- banner -->
    <section class="flex justify-center py-4">
        <div class="banner">
            <img src="images/banner-logo.png" />
            <h2 class="text-3xl font-semibold">Blog</h2>
        </div>
    </section>
    <!-- section -->
    <section class="px-3 xl:mx-16 md:mx-8">
        <p class="text-6xl font-semibold pt-8 text-center py-6">
            Course
        </p>
        <div class="  mx-auto rounded-xl overflow-hidden  ">
            <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6">
                <div class="p-4 lg:w-3/6  md:w-full flex justify-center">
                    <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
                </div>
                <div class="lg:ps-0 md:ps-2 sm:ps-8 ps-4 lg:w-3/6 md:w-full">
                    <p
                        class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0">
                        15th August Celebration</p>
                    <ul class="list-disc lg:text-xl md:text-md text-md font-medium tracking-wide p-4">
                        <li>
                            Lorem Ipsum is simply dummy text Lorem
                            Ipsum has been the industry's standard
                            dummy text ever Lorem Ipsum is simply
                        </li>
                        <li class="py-3">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem
                        </li>
                        <li>
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6 md:pt-0">
                <div class="lg:w-3/6  md:w-full order-last flex justify-center">
                    <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
                </div>
                <div class="lg:ps-8  ps-4 lg:w-3/6  md:w-full ">
                    <p
                        class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0 ">
                        Diwali Celebration</p>
                    <ul class="list-disc  lg:text-xl md:text-md text-md font-medium tracking-wide p-4 ">
                        <li>
                            Lorem Ipsum is simply dummy text Lorem
                            Ipsum has been the industry's standard
                            dummy text ever Lorem Ipsum is simply
                        </li>
                        <li class="py-3">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem
                        </li>
                        <li>
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mx-auto rounded-xl overflow-hidden  ">
            <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6">
                <div class="p-4 lg:w-3/6  md:w-full flex justify-center">
                    <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
                </div>
                <div class="lg:ps-0 md:ps-2 sm:ps-8 ps-4 lg:w-3/6 md:w-full">
                    <p
                        class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0">
                        Holi Celebration</p>
                    <ul class="list-disc lg:text-xl md:text-md text-md font-medium tracking-wide p-4">
                        <li>
                            Lorem Ipsum is simply dummy text Lorem
                            Ipsum has been the industry's standard
                            dummy text ever Lorem Ipsum is simply
                        </li>
                        <li class="py-3">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem
                        </li>
                        <li>
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6 md:pt-0">
                <div class="lg:w-3/6  md:w-full order-last flex justify-center">
                    <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
                </div>
                <div class="lg:ps-8  ps-4 lg:w-3/6  md:w-full ">
                    <p
                        class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0 ">
                        Merry Crismas Celebration</p>
                    <ul class="list-disc  lg:text-xl md:text-md text-md font-medium tracking-wide p-4 ">
                        <li>
                            Lorem Ipsum is simply dummy text Lorem
                            Ipsum has been the industry's standard
                            dummy text ever Lorem Ipsum is simply
                        </li>
                        <li class="py-3">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem
                        </li>
                        <li>
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- branch -->
    <section class=" branch-wrapper ">
        <div class="mx-auto rounded-xl overflow-hidden">
            <p
                class="lg:text-[70px] md:text-[35px] sm:text-[20px] text-[30px]  font-semibold flex justify-center lg:py-10 md:py-8 sm:py-4 py-4 ">
                Branch
            </p>
            <div class="md:flex justify-center flex-wrap  xl:mx-[40px] 2xl:mx-[40px] lg:py-8 md:py-8 sm:py-2 py-2">
                <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3   ">
                    <div class="branches-img">
                        <img class="rounded-md w-full h-3/6" src="images/1.png" />
                        <div class="branches-layer text-center">
                            <div
                                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                                <div
                                    class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                                    Eagle Diamond
                                    Institute</div>
                                <div
                                    class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">
                                    Katargam
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Address&nbsp;:-</span>
                                        <sapn>
                                            &nbsp;185 - Angani Compelx, Mini
                                            Bazar, Varachha, Surat - 6.
                                        </sapn>
                                    </li>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Contact :-</span>
                                        <span>&nbsp;+91 986 278 953 <br />
                                            &nbsp; +0261 2658987</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3   ">
                    <div class="branches-img">
                        <img class="rounded-md w-full h-3/6" src="images/1.png" />
                        <div class="branches-layer text-center">
                            <div
                                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                                <div
                                    class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                                    Eagle Diamond
                                    Institute</div>
                                <div
                                    class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">
                                    Katargam
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Address&nbsp;:-</span>
                                        <sapn>
                                            &nbsp;185 - Angani Compelx, Mini
                                            Bazar, Varachha, Surat - 6.
                                        </sapn>
                                    </li>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Contact :-</span>
                                        <span>&nbsp;+91 986 278 953 <br />
                                            &nbsp; +0261 2658987</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3  ">
                    <div class="branches-img">
                        <img class="rounded-md w-full h-3/6" src="images/1.png" />
                        <div class="branches-layer text-center">
                            <div
                                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                                <div
                                    class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                                    Eagle Diamond
                                    Institute</div>
                                <div
                                    class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">
                                    Katargam
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Address&nbsp;:-</span>
                                        <sapn>
                                            &nbsp;185 - Angani Compelx, Mini
                                            Bazar, Varachha, Surat - 6.
                                        </sapn>
                                    </li>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Contact :-</span>
                                        <span>&nbsp;+91 986 278 953 <br />
                                            &nbsp; +0261 2658987</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer-wraper mt-5 p-10">
        <div class=" mx-auto overflow-hidden ">
            <div class="md:flex lg:mx-16 md:8">
                <div class="lg:w-4/12 md:w-full pr-2">
                    <div class="md:flex items-center">
                        <img class="object-cover" src="images/logo.png" />
                        <div class="text-2xl text-white font-medium tracking-wide py-4 ps-4">
                            Eagle Dimond Institute
                        </div>
                    </div>
                    <div class="text-2xl text-white font-medium tracking-wide py-4 ps-4">
                        About Us
                    </div>
                    <p class="text-lg lg:pr-16 md:pr-0">
                        Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever Lorem
                        Ipsum is simply printing and typesetting industry.
                    </p>
                </div>
                <div class="lg:w-4/12 md:w-full lg:ps-24 md:ps-0">
                    <div class="text-2xl text-white font-medium tracking-wide py-4 ps-4 pt-8 md:flex items-center">
                        Contact Us
                    </div>
                    <ul>
                        <li class="md:flex items-start py-2 text-lg">
                            <span class="pr-4"><i class="fa-sharp fa-solid fa-phone"></i>
                            </span>
                            <span>+91 95860 85697</span>
                        </li>
                        <li class="md:flex items-start py-2 text-lg">
                            <span class="pr-4"><i class="fa-sharp fa-solid fa-envelope"></i>
                            </span>
                            <span>abc23@gmail.com</span>
                        </li>
                        <li class="md:flex items-start py-2 text-lg">
                            <span class="pr-4"><i class="fa-sharp fa-solid fa-location-dot"></i>
                            </span>
                            <span>ABC Minibazar , varachha
                                main road, surat.</span>
                        </li>
                        <li class="md:flex items-start py-2 text-lg">
                            <span class="pr-4"><i class="fa-solid fa-calendar-days"></i>
                            </span>
                            <span>
                                <span>Time : Mon - Fri 10AM - 20PM</span>
                                <span class="lg:ps-12 md:ps-12  ps-3"> Sun 10AM - 2PM </span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="lg:w-4/12 md:w-full lg:ps-10 md:ps-0">
                    <div class="text-2xl text-white font-medium tracking-wide py-4 ps-4 pt-8 md:flex items-center">
                        Social
                    </div>
                    <div class="md:flex items-center py-2">
                        <i class="fa-brands fa-facebook pr-4 text-2xl"></i>
                        <i class="fa-brands fa-whatsapp pr-4 text-2xl"></i>
                        <i class="fa-brands fa-twitter pr-4 text-2xl"></i>
                        <i class="fa-brands fa-instagram pr-4 text-2xl"></i>
                        <i class="fa-brands fa-youtube pr-4 text-2xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="script/cdn.tailwindcss.com_3.3.3" rel="stylesheet"></script>
    <!-- header -->
    <script src="script/unpkg.com_@themesberg_flowbite@1.1.1_dist_flowbite.bundle.js"></script>
    <script src="script/cdn.jsdelivr.net_gh_alpinejs_alpine@v2.x.x_dist_alpine.min.js" defer></script>
    <script src="script/cdnjs.cloudflare.com_ajax_libs_jquery_3.0.0_jquery.min.js"></script>
    <!-- banner slider -->
    <script src="script/cdnjs.cloudflare.com_ajax_libs_Swiper_3.4.1_js_swiper.min.js"></script>
    <!-- review slider -->
    <script src="script/unpkg.com_swiper@8.4.7_swiper-bundle.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            // Swiper: Slider banner
            new Swiper('.swiper-container', {
                loop: true,
                slidesPerView: 1,
                paginationClickable: true,
                spaceBetween: 20,
                autoplay: true,
                breakpoints: {
                    1920: {
                        slidesPerView: 1,
                        spaceBetween: 30
                    },
                    1028: {
                        slidesPerView: 1,
                        spaceBetween: 30
                    },
                    480: {
                        slidesPerView: 1,
                        spaceBetween: 10
                    }
                }
            });
        });
    </script>
    <!-- review slider -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            loop: true,
            autoplay: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            loopFillGroupWithBlank: true,
            breakpoints: {
                1920: {
                    slidesPerView: 3,
                    spaceBetween: 30
                },
                1028: {
                    slidesPerView: 3,
                    spaceBetween: 30
                },
                480: {
                    slidesPerView: 2,
                    spaceBetween: 10
                },
                320: {
                    slidesPerView: 1,
                    spaceBetween: 10
                }
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>

</html>  -->



{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- banner -->
   <section class="flex justify-center py-4">
    <div class="banner">
        <img src="images/banner-logo.png" />
        <h2 class="text-3xl font-semibold">Blog</h2>
    </div>
</section>
<!-- section -->
<section class="px-3 xl:mx-16 md:mx-8">
    <p class="text-6xl font-semibold pt-8 text-center py-6">
        Course
    </p>
    <div class="  mx-auto rounded-xl overflow-hidden  ">
        <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6">
            <div class="p-4 lg:w-3/6  md:w-full flex justify-center">
                <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
            </div>
            <div class="lg:ps-0 md:ps-2 sm:ps-8 ps-4 lg:w-3/6 md:w-full">
                <p
                    class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0">
                    15th August Celebration</p>
                <ul class="list-disc lg:text-xl md:text-md text-md font-medium tracking-wide p-4">
                    <li>
                        Lorem Ipsum is simply dummy text Lorem
                        Ipsum has been the industry's standard
                        dummy text ever Lorem Ipsum is simply
                    </li>
                    <li class="py-3">
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                    <li>
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                </ul>
            </div>
        </div>
        <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6 md:pt-0">
            <div class="lg:w-3/6  md:w-full order-last flex justify-center">
                <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
            </div>
            <div class="lg:ps-8  ps-4 lg:w-3/6  md:w-full ">
                <p
                    class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0 ">
                    Diwali Celebration</p>
                <ul class="list-disc  lg:text-xl md:text-md text-md font-medium tracking-wide p-4 ">
                    <li>
                        Lorem Ipsum is simply dummy text Lorem
                        Ipsum has been the industry's standard
                        dummy text ever Lorem Ipsum is simply
                    </li>
                    <li class="py-3">
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                    <li>
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mx-auto rounded-xl overflow-hidden  ">
        <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6">
            <div class="p-4 lg:w-3/6  md:w-full flex justify-center">
                <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
            </div>
            <div class="lg:ps-0 md:ps-2 sm:ps-8 ps-4 lg:w-3/6 md:w-full">
                <p
                    class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0">
                    Holi Celebration</p>
                <ul class="list-disc lg:text-xl md:text-md text-md font-medium tracking-wide p-4">
                    <li>
                        Lorem Ipsum is simply dummy text Lorem
                        Ipsum has been the industry's standard
                        dummy text ever Lorem Ipsum is simply
                    </li>
                    <li class="py-3">
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                    <li>
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                </ul>
            </div>
        </div>
        <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6 md:pt-0">
            <div class="lg:w-3/6  md:w-full order-last flex justify-center">
                <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
            </div>
            <div class="lg:ps-8  ps-4 lg:w-3/6  md:w-full ">
                <p
                    class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0 ">
                    Merry Crismas Celebration</p>
                <ul class="list-disc  lg:text-xl md:text-md text-md font-medium tracking-wide p-4 ">
                    <li>
                        Lorem Ipsum is simply dummy text Lorem
                        Ipsum has been the industry's standard
                        dummy text ever Lorem Ipsum is simply
                    </li>
                    <li class="py-3">
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                    <li>
                        Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
    <!-- branch -->
    <section class=" branch-wrapper ">
        <div class="mx-auto rounded-xl overflow-hidden">
            <p
                class="lg:text-[70px] md:text-[35px] sm:text-[20px] text-[30px]  font-semibold flex justify-center lg:py-10 md:py-8 sm:py-4 py-4 ">
                Branch
            </p>
            <div class="md:flex justify-center flex-wrap  xl:mx-[40px] 2xl:mx-[40px] lg:py-8 md:py-8 sm:py-2 py-2">
                <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3   ">
                    <div class="branches-img">
                        <img class="rounded-md w-full h-3/6" src="images/1.png" />
                        <div class="branches-layer text-center">
                            <div
                                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                                <div
                                    class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                                    Eagle Diamond
                                    Institute</div>
                                <div
                                    class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">
                                    Katargam
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Address&nbsp;:-</span>
                                        <sapn>
                                            &nbsp;185 - Angani Compelx, Mini
                                            Bazar, Varachha, Surat - 6.
                                        </sapn>
                                    </li>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Contact :-</span>
                                        <span>&nbsp;+91 986 278 953 <br />
                                            &nbsp; +0261 2658987</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3   ">
                    <div class="branches-img">
                        <img class="rounded-md w-full h-3/6" src="images/1.png" />
                        <div class="branches-layer text-center">
                            <div
                                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                                <div
                                    class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                                    Eagle Diamond
                                    Institute</div>
                                <div
                                    class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">
                                    Katargam
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Address&nbsp;:-</span>
                                        <sapn>
                                            &nbsp;185 - Angani Compelx, Mini
                                            Bazar, Varachha, Surat - 6.
                                        </sapn>
                                    </li>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Contact :-</span>
                                        <span>&nbsp;+91 986 278 953 <br />
                                            &nbsp; +0261 2658987</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4  w-full md:w-1/2 lg:my-4  md:px-4   lg:w-1/3  ">
                    <div class="branches-img">
                        <img class="rounded-md w-full h-3/6" src="images/1.png" />
                        <div class="branches-layer text-center">
                            <div
                                class="flex justify-center items-center flex-col xl:p-4 lg:p-4 md:p-4 sm:p-2 p-1 xl:py-3 lg:py-2 bg-black border-b-2 border-gray-100">
                                <div
                                    class=" 2xl:text-4xl xl:text-3xl lg:text-lg text-[15px]  xl:py-1 2xl:py-4 lg:py-1 md:py-1 sm:py-1 py-0">
                                    Eagle Diamond
                                    Institute</div>
                                <div
                                    class="2xl:text-4xl xl:text-3xl lg:text-lg 2xl:py-2 text-[15px] xl:py-12xl:py-4 lg:py-1">
                                    Katargam
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Address&nbsp;:-</span>
                                        <sapn>
                                            &nbsp;185 - Angani Compelx, Mini
                                            Bazar, Varachha, Surat - 6.
                                        </sapn>
                                    </li>
                                    <li
                                        class="2xl:text-[28px] xl:text-[14px] lg:text-[15px] md:text-[16px] sm:text-[16px] text-[12px] text-left px-4 pt-2 xl:px-8 lg:px-6 md:px-4 2xl:py-4 lg:py-1 md:py-1 xl:pt-3 lg:pt-2 flex items-start">
                                        <span>Contact :-</span>
                                        <span>&nbsp;+91 986 278 953 <br />
                                            &nbsp; +0261 2658987</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
  <script src="{% static '/script/cdn.tailwindcss.com_3.3.3' %}" rel="stylesheet"></script>
  <!-- header -->
  <script src="{% static '/script/unpkg.com_@themesberg_flowbite@1.1.1_dist_flowbite.bundle.js' %}"></script>
  <script src="{% static '/script/cdn.jsdelivr.net_gh_alpinejs_alpine@v2.x.x_dist_alpine.min.js' %}" defer></script>
  <script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_jquery_3.0.0_jquery.min.js' %}"></script>
  <!-- banner slider -->
  <script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_Swiper_3.4.1_js_swiper.min.js' %}"></script>
  <!-- review slider -->
  <script src="{% static '/script/unpkg.com_swiper@8.4.7_swiper-bundle.min.js' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      // Swiper: Slider banner
      new Swiper('.swiper-container', {
        loop: true,
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 20,
        autoplay: true,
        breakpoints: {
          1920: {
            slidesPerView: 1,
            spaceBetween: 30
          },
          1028: {
            slidesPerView: 1,
            spaceBetween: 30
          },
          480: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      })
    })
  </script>
  <!-- review slider -->
  <script>
    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 3,
      loop: true,
      autoplay: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      paginationClickable: true,
      loopFillGroupWithBlank: true,
      breakpoints: {
        1920: {
          slidesPerView: 3,
          spaceBetween: 30
        },
        1028: {
          slidesPerView: 3,
          spaceBetween: 30
        },
        480: {
          slidesPerView: 2,
          spaceBetween: 10
        },
        320: {
          slidesPerView: 1,
          spaceBetween: 10
        }
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    })
    
    fetch('/api/course-details/') // Replace with the actual API URL
      .then((response) => response.json())
      .then((data) => {
        // Handle the API response data here
        //manual Planning
        const manualPlanningSection = document.querySelector('#manualPlanningSection')
        manualPlanningSection.querySelector('.Manual-title').textContent = data.course_details[0].course_name
        manualPlanningSection.querySelector('.ManualImg').src = data.course_details[0].course_image
        manualPlanningSection.querySelector('li:nth-child(1)').textContent = data.course_details[0].course_description_line_1
        manualPlanningSection.querySelector('li:nth-child(2)').textContent = data.course_details[0].course_description_line_2 // Update the second list item
        manualPlanningSection.querySelector('li:nth-child(3)').textContent = data.course_details[0].course_description_line_3 // Update the third list item
        //galaxy Section
        const galaxySection = document.querySelector('#galaxySection')
        galaxySection.querySelector('.galaxy-title').textContent = data.course_details[1].course_name // Update the title
        galaxySection.querySelector('.galaxyImg').src = data.course_details[1].course_image // Update the title
        galaxySection.querySelector('li:nth-child(1)').textContent = data.course_details[1].course_description_line_1 // Update the first list item
        galaxySection.querySelector('li:nth-child(2)').textContent = data.course_details[1].course_description_line_2 // Update the second list item
        galaxySection.querySelector('li:nth-child(3)').textContent = data.course_details[1].course_description_line_3 // Update the third list item
        //Micro Section
        const microSection = document.querySelector('#Microsection')
        microSection.querySelector('.micro-title').textContent = data.course_details[2].course_name // Update the title
        microSection.querySelector('.micro-img').src = data.course_details[2].course_image // Update the title
        microSection.querySelector('li:nth-child(1)').textContent = data.course_details[2].course_description_line_1 // Update the first list item
        microSection.querySelector('li:nth-child(2)').textContent = data.course_details[2].course_description_line_2 // Update the second list item
        microSection.querySelector('li:nth-child(3)').textContent = data.course_details[2].course_description_line_3 // Update the third list item
        //Last Galaxy Section
        const lastGSection = document.querySelector('#lastGalaxySection')
        lastGSection.querySelector('.lastGalaxyTitle').textContent = data.course_details[3].course_name // Update the title
        lastGSection.querySelector('.lastGalaxyImg').src = data.course_details[3].course_image // Update the title
        lastGSection.querySelector('li:nth-child(1)').textContent = data.course_details[3].course_description_line_1 // Update the first list item
        lastGSection.querySelector('li:nth-child(2)').textContent = data.course_details[3].course_description_line_2 // Update the second list item
        lastGSection.querySelector('li:nth-child(3)').textContent = data.course_details[3].course_description_line_3 // Update the third list item
        console.log(data.course_details[3].course_image, 'data')
      })
      .catch((error) => {
        console.error(error, 'PPPPPPPPPPPPPPPPP')
      })
  </script>
{% endblock %}
