{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- banner -->
 <div class="xl:py-36 lg:py-26 md:py-18 sm:py-15 py-12">
    <section class="w-full  ">
      <div class="rounded-xl  w-full">
        <div class="mx-auto rounded-xl overflow-hidden w-full ">
          <div class="lg:flex justify-center  lg:mx-16 md:mx-10 sm:mx-8 mx-5" style="text-align: -webkit-center;">
            <div
              class="p-8 banner-left-side xl:w-3/5 lg:w-full lg:flex-[auto] md:w-full lg:rounded-l-[26px] md:rounded-l-[26px] sm:rounded-[26px]  rounded-[26px] my-4 lg:ps-24 md:ps-16  flex  flex-col justify-center items-start">
              <img class="object-cover 2xl:w-[150px] xl:w-[150px] lg:w-[150px] md:w-[150px] sm:w-[90px] w-[90px]  2xl:h-[150px] xl:h-[150px] lg:h-[150px] md:h-[150px] sm:h-[90px] h-[90px]" src="images/banner-logo.png" />
              <div
                class="lg:text-[52px] md:text-[45px] sm:text-[30px] text-[25px] text-[#011C39] font-bold py-4 text-left">
                Eagle Dimond Institute
              </div>

              <p class="mt-2 lg:text-[32px] md:text-[28px] sm:text-[20px] text-[22px] text-[#011C39] text-left">
                Be silent in two situations When <span
                  class="lg:inline-flex md:inline-flex sm:inline-flex hidden"><br /></span> you
                feel one
              </p>
            </div>
            <div class="md:shrink-0 xl:w-2/5 lg:w-full lg:flex-[auto] md:w-full">
              <div class="container">
                <!-- Slider main container -->
                <div class="swiper-container rounded-[26px]">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                    <img
                      class="w-full object-fill w-1/2 lg:h-[35rem] md:h-[28rem] sm:h-[25rem] h-[18rem]  rounded-lg swiper-slide"
                      src="{% static '/images/banner.png' %}" alt="Eagle Dimond" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </section>
  </div>
  <!-- section -->
  <section class="px-3 lg:mx-16 md:mx-10 sm:mx-8 mx-5">
    <p class="lg:text-[70px] md:text-[35px] sm:text-[20px] text-[30px]  font-semibold pt-8 text-center py-6">
      About Institute
    </p>
    <div class="  mx-auto rounded-xl overflow-hidden  ">
      <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6">
        <div class="p-4 lg:w-3/6  md:w-full flex justify-center">
          <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
        </div>
        <div class="lg:ps-0 md:ps-2 sm:ps-8 ps-4 lg:w-3/6 md:w-full">
          <p
            class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0">
            Class Room</p>
          <ul class="list-disc lg:text-xl md:text-md text-md font-medium tracking-wide p-4">
            <li>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever lorem Ipsum is simply.
            </li>
            <li class="py-3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </li>
            <li>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </li>
          </ul>
        </div>
      </div>
      <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6 md:pt-0">
        <div class="lg:w-3/6  md:w-full order-last flex justify-center">
          <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
        </div>
        <div class="lg:ps-8  ps-4 lg:w-3/6  md:w-full ">
          <p
            class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0 ">
            Staff</p>
          <ul class="list-disc  lg:text-xl md:text-md text-md font-medium tracking-wide p-4 ">
            <li>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever lorem Ipsum is simply.
            </li>
            <li class="py-3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </li>
            <li>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </li>
          </ul>
        </div>

      </div>
      <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6">
        <div class="lg:w-3/6  md:w-full flex justify-center">
          <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
        </div>
        <div class="lg:ps-0 md:ps-6 sm:ps-8 ps-4 lg:w-3/6  md:w-full">
          <p
            class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-2 sm:pt-2 pt-0">
            Technology</p>
          <ul class="list-disc  lg:text-xl md:text-md text-md font-medium tracking-wide p-4 ">
            <li>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever lorem Ipsum is simply.
            </li>
            <li class="py-3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </li>
            <li>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </li>
          </ul>
        </div>
      </div>
      <div class="md:flex lg:py-10 md:py-8 sm:py-6 py-6 md:pt-0">
        <div class="lg:w-3/6  md:w-full order-last flex justify-center">
          <img class="rounded-md lg:w-11/12 md:w-full w-full" src="images/3.png" />
        </div>
        <div class="lg:ps-8 ps-4 lg:w-3/6  md:w-full">
          <p
            class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0">
            Festival Celebration</p>
          <ul class="list-disc  lg:text-xl md:text-md text-md font-medium tracking-wide p-4">
            <li>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy
              text ever lorem Ipsum is simply.
            </li>
            <li class="py-3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </li>
            <li>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </li>
          </ul>
        </div>

      </div>

    </div>
  </section>

  <script src="{% static '/script/cdn.tailwindcss.com_3.3.3' %}" rel="stylesheet"></script>
  <!-- header -->
  <script src="{% static '/script/unpkg.com_@themesberg_flowbite@1.1.1_dist_flowbite.bundle.js' %}"></script>
  <script src="{% static '/script/cdn.jsdelivr.net_gh_alpinejs_alpine@v2.x.x_dist_alpine.min.js' %}" defer></script>
  <script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_jquery_3.0.0_jquery.min.js' %}"></script>
  <!-- banner slider -->
  <script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_Swiper_3.4.1_js_swiper.min.js' %}"></script>
  <!-- review slider -->
  <script src="{% static '/script/unpkg.com_swiper@8.4.7_swiper-bundle.min.js' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      // Swiper: Slider banner
      new Swiper('.swiper-container', {
        loop: true,
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 20,
        autoplay: true,
        breakpoints: {
          1920: {
            slidesPerView: 1,
            spaceBetween: 30
          },
          1028: {
            slidesPerView: 1,
            spaceBetween: 30
          },
          480: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      });
    });
  </script>
  <!-- review slider -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      loop: true,
      autoplay: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      paginationClickable: true,
      loopFillGroupWithBlank: true,
      breakpoints: {
        1920: {
          slidesPerView: 3,
          spaceBetween: 30
        },
        1028: {
          slidesPerView: 3,
          spaceBetween: 30
        },
        480: {
          slidesPerView: 2,
          spaceBetween: 10
        },
        320: {
          slidesPerView: 1,
          spaceBetween: 10
        }
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

{% endblock %}