{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- section -->
<section class="px-3 lg:mx-16 md:mx-10 sm:mx-8 mx-5">
  <p class="lg:text-[70px] md:text-[35px] sm:text-[20px] text-[30px]  font-semibold pt-8 text-center py-6">
    About Institute
  </p>
  <div class="  mx-auto rounded-xl overflow-hidden  " id="classroomSection">
    
  </div>
</section>

<script src="{% static '/script/cdn.tailwindcss.com_3.3.3' %}" rel="stylesheet"></script>
<!-- header -->
<script src="{% static '/script/unpkg.com_@themesberg_flowbite@1.1.1_dist_flowbite.bundle.js' %}"></script>
<script src="{% static '/script/cdn.jsdelivr.net_gh_alpinejs_alpine@v2.x.x_dist_alpine.min.js' %}" defer></script>
<script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_jquery_3.0.0_jquery.min.js' %}"></script>
<!-- banner slider -->
<script src="{% static '/script/cdnjs.cloudflare.com_ajax_libs_Swiper_3.4.1_js_swiper.min.js' %}"></script>
<!-- review slider -->
<script src="{% static '/script/unpkg.com_swiper@8.4.7_swiper-bundle.min.js' %}" type="text/javascript"></script>
<script>
  $(document).ready(function () {
    // Swiper: Slider banner
    new Swiper('.swiper-container', {
      loop: true,
      slidesPerView: 1,
      paginationClickable: true,
      spaceBetween: 20,
      autoplay: true,
      breakpoints: {
        1920: {
          slidesPerView: 1,
          spaceBetween: 30
        },
        1028: {
          slidesPerView: 1,
          spaceBetween: 30
        },
        480: {
          slidesPerView: 1,
          spaceBetween: 10
        }
      }
    });
  });
</script>
<!-- review slider -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    loop: true,
    autoplay: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    paginationClickable: true,
    loopFillGroupWithBlank: true,
    breakpoints: {
      1920: {
        slidesPerView: 3,
        spaceBetween: 30
      },
      1028: {
        slidesPerView: 3,
        spaceBetween: 30
      },
      480: {
        slidesPerView: 2,
        spaceBetween: 10
      },
      320: {
        slidesPerView: 1,
        spaceBetween: 10
      }
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });


  fetch('/api/institute-details/') // Replace with the actual API URL
    .then((response) => response.json())
    .then((data) => {
      console.log(data, "data is >>>>>>>>>>>>>>>.")
      const classroomSection = document.querySelector('#classroomSection')
      if (data['message'] == 'success') {
        for (let i = 0; i <= data['institute_details'].length; i++) {
          const classChildSection = document.createElement("div")
          classChildSection.className = "md:flex lg:py-10 md:py-8 sm:py-6 py-6"
          classChildSection.innerHTML = `
            <div class="p-4 lg:w-3/6  md:w-full flex justify-center" id="imageElement">
                <img class="rounded-md lg:w-11/12 md:w-full w-full classImg" src="${data['institute_details'][i]["institute_image"]}" />
            </div>
            <div class="lg:ps-0 md:ps-2 sm:ps-8 ps-4 lg:w-3/6 md:w-full" id="sectionElement">
                <p
                  class="lg:text-[30px] md:text-[28px] sm:text-[22px] text-[24px]  font-semibold lg:pt-8 md:pt-4 sm:pt-2 pt-0 class-title">
                  </p>
                <ul class="list-disc lg:text-xl md:text-md text-md font-medium tracking-wide p-4" id="Description">
                  
                </ul>
            </div>
          `;
          let Description = classChildSection.querySelector("#Description");
          for (let no = 1; no <= 4; no++) {
            const descriptionLine = data['institute_details'][i][`description_line_${no}`];
            if (descriptionLine) {
                const listItem = document.createElement('li');
                listItem.textContent = descriptionLine;
                if (no === 2) {
                    listItem.className = 'py-3'
                }
                Description.appendChild(listItem);
            }
          }
          if (i % 2 !== 0) {
              classChildSection.classList.add("md:w-full");
              let imageElement = classChildSection.querySelector("#imageElement");
              imageElement.className = "lg:w-3/6  md:w-full order-last flex justify-center"
              let sectionElement = classChildSection.querySelector("#sectionElement");
              sectionElement.className = "lg:ps-8  ps-4 lg:w-3/6  md:w-full "
          }
          classroomSection.appendChild(classChildSection);
        }
      }else{
        console.log("Institute details data is not found")
      }
    })
    .catch((error) => {
      // Handle any errors that occur during the request
      console.error(error, 'Institute details api is not working')
    })
</script>

{% endblock %}