<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
    <!-- header -->
    <header>
        <nav class=" select-none bg-white border-gray-200  drop-shadow">
            <div class=" select-none flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="https://flowbite.com/" class=" select-none flex items-center">
                    <img src="images/logo.png" class=" select-none mr-3" alt="Flowbite Logo" />
                </a>
                <button data-collapse-toggle="navbar-default" type="button"
                    class=" select-none inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                    aria-controls="navbar-default" aria-expanded="false">
                    <span class=" select-none sr-only">Open main menu</span>
                    <svg class=" select-none w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
                <div class=" select-none hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul
                        class=" select-none font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white ">
                        <li>
                            <a href="#"
                                class=" select-none block text-xl py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 "
                                aria-current="page">Home</a>
                        </li>
                        <li class=" select-none dropdown">
                            <a href="#"
                                class=" select-none block text-xl py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">About
                                Us <i class=" select-none fa-solid fa-angle-down ps-1"></i></a>
                            <div class=" select-none dropdown-menu shadow-lg">
                                <ul>
                                    <li class=" select-none py-2"><a href="#institute">Institute</a></li>
                                    <li class=" select-none py-2"><a href="#mangement">Mangement</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class=" select-none dropdown">
                            <a href="#"
                                class=" select-none block text-xl py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Education
                                <i class=" select-none fa-solid fa-angle-down ps-1"></i></a>
                            <div class=" select-none dropdown-menu shadow-lg">
                                <ul>
                                    <li class=" select-none py-2"><a href="#admition">Admition</a></li>
                                    <li class=" select-none py-2"><a href="#course">Course</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="#"
                                class=" select-none block text-xl py-2 pl-3  text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 ">Contact</a>
                        </li>
                        <li>
                            <img src="images/translate.png" class=" select-none me-24">
                        </li>
                        <li>
                            <button href="#"
                                class=" select-none block text-xl text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700  border border-black py-1 px-3">
                                Sign in
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class=" select-none px-3">
        <p
            class=" select-none lg:text-[70px] md:text-[35px] sm:text-[20px] text-[30px] font-semibold pt-8 text-center lg:py-16 md:py-10 sm:py-8 py-6">
            Sign Up
        </p>
        <div class=" select-none  rounded-xl overflow-hidden  signup-wrap bg-[#6F6AF808] flex justify-center">
            <div class=" select-none md:flex py-16 xl:mx-16 md:mx-10">
                <div class=" select-none 2xl:ps-8 lg:ps-0 xl:w-2/5 md:w-full mx-3">
                    <div class=" select-none signup-left-box py-12 lg:px-16 md:px-8 px-8 pb-0 bg-[#fff] rounded-[10px] shadow-xl">
                        <div class=" select-none flex justify-center ">
                            <img src="images/login.png" alt="">
                        </div>
                        <div class=" select-none flex  flex-col  py-4 ">
                            <div class=" select-none lg:text-[44px] md:text-[38px] text-[32px]   font-semibold leading-snug py-5 ">
                                Forgotten password
                            </div>
                            <p class=" select-none lg:py-6 md:py-4 sm:py-3 lg:text-[24px]  md:text-[20px] text-[18px] leading-relaxed "
                                style="color:  #000000B2;">
                                In case you should have forgotten your password, you can simply request to have a
                                reset-password link sent to the email
                                address specified in your account:.</p>
                        </div>
                    </div>
                </div>
                <div class=" select-none  xl:w-3/5  md:w-full">
                    <div class=" select-none max-w-screen-md mx-auto p-5 lg:pt-0 md:pt-0 pt-10">
                        <form class=" select-none w-full">
                            <div class=" select-none lg:text-[48px] md:text-[45px] text-[38px] font-semibold leading-snug  ">
                                Reset your password
                            </div>
                            <p class=" select-none   pb-8 text-slate-400 lg:pb-20 md:pb-16 sm:pb-14 pb-10">

                            </p>

                            <div class=" select-none flex flex-wrap -mx-3 lg:mb-6 md:mb-4 sm:mb-4 mb-4">
                                <div class=" select-none w-full px-3">
                                    <label
                                        class=" select-none block  tracking-wide text-gray-700 lg:text-2xl md:text-xl sm:text-xl text-lg font-bold mb-2"
                                        style="color: #011C3980;" for="grid-Correct">
                                        Password
                                    </label>
                                    <input
                                        class=" select-none appearance-none shadow-md block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="grid-Correct" type="password">
                                </div>
                            </div>
                            <div class=" select-none flex flex-wrap -mx-3 lg:mb-6 md:mb-4 sm:mb-4 mb-4">
                                <div class=" select-none w-full px-3">
                                    <label
                                        class=" select-none block  tracking-wide text-gray-700 lg:text-2xl md:text-xl sm:text-xl text-lg font-bold mb-2"
                                        style="color: #011C3980;" for="grid-Correct">
                                        Confirm Password
                                    </label>
                                    <input
                                        class=" select-none appearance-none shadow-md block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="grid-Correct" type="password">
                                </div>
                            </div>
                            <div class=" select-none flex flex-wrap -mx-3 mb-6">
                                <div class=" select-none  w-full px-3">
                                    <button
                                        class=" select-none shadow w-full  font-bold py-2 tracking-wide px-6 lg:text-[25px] md:text-[22px] sm:text-[20px] text-[20px] rounded  bg-[#011C39] text-[#fff] shadow-md mt-2"
                                        type="submit">
                                        Login
                                    </button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>

            </div>


        </div>


        </div>
    </section>
    <!-- footer -->
    <footer class=" select-none footer-wraper mt-5 p-10">
        <div class=" select-none  mx-auto overflow-hidden ">
            <div class=" select-none md:flex lg:mx-16 md:8">
                <div class=" select-none lg:w-4/12 md:w-full pr-2">
                    <div class=" select-none md:flex items-center">
                        <img class=" select-none object-cover" src="images/logo.png" />
                        <div class=" select-none text-2xl text-white font-medium tracking-wide py-4 ps-4">
                            Eagle Dimond Institute
                        </div>
                    </div>
                    <div class=" select-none text-2xl text-white font-medium tracking-wide py-4 ps-4">
                        About Us
                    </div>
                    <p class=" select-none text-lg lg:pr-16 md:pr-0">
                        Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever Lorem
                        Ipsum is simply printing and typesetting industry.
                    </p>
                </div>
                <div class=" select-none lg:w-4/12 md:w-full lg:ps-24 md:ps-0">
                    <div class=" select-none text-2xl text-white font-medium tracking-wide py-4 ps-4 pt-8 md:flex items-center">
                        Contact Us
                    </div>
                    <ul>
                        <li class=" select-none md:flex items-start py-2 text-lg">
                            <span class=" select-none pr-4"><i class=" select-none fa-sharp fa-solid fa-phone"></i>
                            </span>
                            <span>+91 95860 85697</span>
                        </li>
                        <li class=" select-none md:flex items-start py-2 text-lg">
                            <span class=" select-none pr-4"><i class=" select-none fa-sharp fa-solid fa-envelope"></i>
                            </span>
                            <span>abc23@gmail.com</span>
                        </li>
                        <li class=" select-none md:flex items-start py-2 text-lg">
                            <span class=" select-none pr-4"><i class=" select-none fa-sharp fa-solid fa-location-dot"></i>
                            </span>
                            <span>ABC Minibazar , varachha <br />
                                main road, surat.</span>
                        </li>
                        <li class=" select-none md:flex items-start py-2 text-lg">
                            <span class=" select-none pr-4"><i class=" select-none fa-solid fa-calendar-days"></i>
                            </span>
                            <span>
                                <span>Time : Mon - Fri 10AM - 20PM</span> <br />
                                <span class=" select-none ps-12"> Sun 10AM - 2PM </span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class=" select-none lg:w-4/12 md:w-full lg:ps-10 md:ps-0">
                    <div class=" select-none text-2xl text-white font-medium tracking-wide py-4 ps-4 pt-8 md:flex items-center">
                        Social
                    </div>
                    <div class=" select-none md:flex items-center py-2">
                        <i class=" select-none fa-brands fa-facebook pr-4 text-2xl"></i>
                        <i class=" select-none fa-brands fa-whatsapp pr-4 text-2xl"></i>
                        <i class=" select-none fa-brands fa-twitter pr-4 text-2xl"></i>
                        <i class=" select-none fa-brands fa-instagram pr-4 text-2xl"></i>
                        <i class=" select-none fa-brands fa-youtube pr-4 text-2xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="script/cdn.tailwindcss.com_3.3.3" rel="stylesheet"></script>
    <script src="script/unpkg.com_@themesberg_flowbite@1.1.1_dist_flowbite.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</body>

</html>