{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class=" select-none px-3">
        <p
            class=" select-none 2xl:text-[70px] xl:text-[60px] lg:text-[55px] md:text-[40px] sm:text-[20px] text-[30px] font-semibold pt-8 text-center lg:py-16 md:py-10 sm:py-8 py-6">
            Sign Up
        </p>
        <div class=" select-none  rounded-xl overflow-hidden  signup-wrap bg-[#6F6AF808] flex justify-center">
            <div class=" select-none md:flex py-16 xl:mx-16 md:mx-10">
                <div class=" select-none 2xl:ps-8 lg:ps-0 xl:w-2/5 md:w-full mx-3">
                    <div class=" select-none signup-left-box py-12 lg:px-16 md:px-8 px-8 pb-0 bg-[#fff] rounded-[10px] shadow-xl">
                        <div class=" select-none flex justify-center ">
                            <img src="images/login.png" alt="">
                        </div>
                        <div class=" select-none flex  flex-col  py-4 ">
                            <div class=" select-none lg:text-[44px] md:text-[38px] text-[32px]   font-semibold leading-snug py-5 ">
                                Sign Up<br />
                                registration form
                            </div>
                            <p class=" select-none lg:py-6 md:py-4 sm:py-3 lg:text-[24px]  md:text-[20px] text-[18px] leading-relaxed "
                                style="color:  #000000B2;">Our registration
                                process is quick
                                and easy, taking no more than 2
                                minutes to complete.</p>
                        </div>
                    </div>
                </div>
                <div class=" select-none  xl:w-3/5  md:w-full">
                    <div class=" select-none max-w-screen-md mx-auto p-5 lg:pt-0 md:pt-0 pt-10">
                        <form class=" select-none w-full">
                            <div class=" select-none lg:text-[48px] md:text-[45px] text-[38px] font-semibold leading-snug  ">
                                Get started
                            </div>
                            <p class=" select-none   pb-8 text-slate-400 lg:pb-20 md:pb-16 sm:pb-14 pb-10">

                            </p>

                            <div class=" select-none flex flex-wrap -mx-3 lg:mb-6 md:mb-4 sm:mb-4 mb-4">
                                <div class=" select-none w-full px-3">
                                    <label
                                        class=" select-none block  tracking-wide text-gray-700 lg:text-2xl md:text-xl sm:text-xl text-lg font-bold mb-2"
                                        style="color: #011C3980;" for="grid-Correct">
                                        Full name
                                    </label>
                                    <input
                                        class=" select-none appearance-none shadow-md block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="grid-Correct" type="text">
                                </div>
                            </div>
                            <div class=" select-none flex flex-wrap -mx-3 lg:mb-6 md:mb-4 sm:mb-4 mb-4">
                                <div class=" select-none w-full px-3">
                                    <label
                                        class=" select-none block  tracking-wide text-gray-700 lg:text-2xl md:text-xl sm:text-xl text-lg font-bold mb-2"
                                        style="color: #011C3980;" for="grid-Correct">
                                        Email
                                    </label>
                                    <input
                                        class=" select-none appearance-none shadow-md block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="grid-Correct" type="text">
                                </div>
                            </div>
                            <div class=" select-none flex flex-wrap -mx-3 lg:mb-6 md:mb-4 sm:mb-4 mb-4">
                                <div class=" select-none w-full px-3">
                                    <label
                                        class=" select-none block  tracking-wide text-gray-700 lg:text-2xl md:text-xl sm:text-xl text-lg font-bold mb-2"
                                        style="color: #011C3980;" for="grid-Correct">
                                        Password
                                    </label>
                                    <input
                                        class=" select-none appearance-none shadow-md block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        id="grid-Correct" type="password">
                                </div>
                            </div>

                            <div class=" select-none flex flex-wrap -mx-3 mb-6">
                                <div class=" select-none  w-full px-3">
                                    <button
                                        class=" select-none shadow w-full  font-bold py-2 tracking-wide px-6 lg:text-[25px] md:text-[22px] sm:text-[20px] text-[20px] rounded  bg-[#011C39] text-[#fff] shadow-md mt-2"
                                        type="submit">
                                        Login
                                    </button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>

            </div>


        </div>


        </div>
    </section>
    <script src="{% static '/script/cdn.tailwindcss.com_3.3.3' %}" rel="stylesheet"></script>
    <script src="{% static '/script/unpkg.com_@themesberg_flowbite@1.1.1_dist_flowbite.bundle.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
{% endblock %}